@model IEnumerable<OnboardingRecycle.Models.Item>
@{
    ViewBag.Title = "index";
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .table {
            font-family: 'Calibri';
            font-size: 20px;
            width: 800px;

            border-width: 0;
        }
        .NameTitle {
            font-size: 30px;
        }

        .searchWaste {
            background-image: url("/Images/waste-background.png");
            background-size: cover;
        }

        .title {
            font-size: 60px;
        }

        .Search {
            background-color: inherit;
            border: 0px solid;
        }

            .Search:hover {
                background-color: azure;
            }

        .Camera {
            background-color: inherit;
            border: 0px solid;
        }

            .Camera:hover {
                background-color: azure;
            }

        .textfield {
            border-width: 0;
        }

        .Topic {
            font-family: 'Calibri';
            display: flex;
            position: relative;
            left: 100px;
        }
    </style>
</head>

<body>
    <div class="searchWaste">


        <div class="WasteTitle" valign="middle">
            <div class="Name">
                <p class="NameTitle">Waste Recycling</p>
            </div>
            <br />
            <br />

            <br />
            <br />
            <br />
            <br />


            <div class="Topic">


                <img src="~/Images/Line 1.png" />
                <h1 class="title" style="position:relative;left:50px">Start waste<br />revolution from<br /> your community</h1>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
    <br />
    <form asp-controller="Home" asp.action="Index" method="get">
        <div class="row">
            <div align="center">
                <input type="text" name="searchString" class="textfield" placeholder="Srearch for your free waste disposal solutions..." style="font-size:100%; width: 70%; height: 60px; background-color: #EBFBEE" />
                <input type="image" src="~/Images/Vector.png" class="Search" style="height:60px;position: relative; right:150px; top:23px;" />

                <img src="~/Images/Line 2.png" style="height:60px;position: relative; right:143px; top:23px;" />
                <submit class="Camera" id="photo1" style="position: relative; right:138px;top:23px;">
                    <img src="~/Images/upload 1.png" style="width:60px;height:60px" />
                </submit>
            </div>
        </div>
    </form>
    <table class="table" align="center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.ActionLink("Check", "Details", new { id = item.item_id })
                </td>
            </tr>
        }
     </table>
        <div class="footer" align="center">
            <br />
            <br />
            <br />
            <br />
            <footer class="ftext">Thank you for doing your part in waste disposal</footer>
        </div>

</body>
</html>
