@{
    ViewBag.Title = "Onboarding Recycle";
}
<style>
    .NameTitle {
        font-size: 30px;
    }
    .searchWaste {
        background-image: url("/Images/waste-background.png");
        background-size:cover;
    }
    .title{
        font-family: 'Kufam';
        font-size: 80px;
    }
    .Camera{
        background-color:inherit;
        border: 0px solid;
    }
    .Camera:hover{
        background-color:azure;
    }
    .textfield{
        border-width:0;
    }
</style>

<div class="searchWaste">
    <div class="WasteTitle" valign="middle">
        <div class="Name">
            <p class="NameTitle">Onboarding Recycle</p>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="title">Onboarding Recycle</h1>
    </div>
</div>
<div class="row">
    <div align="center">
        <input type="text" class="textfield" style="font-size:30px; width: 1500px; height: 60px; background-color: #EBFBEE" />
        <input type="button" value="Search" style="height:60px;position: absolute; left:50px;"  />
        <button class="Camera" id="photo1">
            <img src="~/Images/Camera.png" style="width:60px;height:60px" />
        </button>
    </div>
</div>